@import 'nib'

text-stroke(offset color)
  shadow = \
    (offset * -1) (offset * -1) 0 color, \
    offset (offset * -1) 0 color, \
    (offset * -1) offset 0 color, \
    offset offset 0 color

  text-shadow shadow
